/* ---------------------------------------------------------------------------- */
/* -------------------------------------Container------------------------------ */
/* ---------------------------------------------------------------------------- */
#container {}
#container.index-page{}
#container .wrap-container{}

#container .most-viewed{}
#container .most-viewed .zoom-container .zoom-caption i.icon-play{max-width: 60px;font-size: 24px;margin: 25% auto 0;}

/* ---MainContent-Article--- */
#main-content{margin-top: 10px;}
#main-content .wrap-content{}

.header {background-color: #fff;padding: 15px 20px;margin-bottom: 15px;border: 1px solid #ddd;}
.header h2{font-size: 23px;}


/* ---Sidebar-Widget--- */
#sidebar{margin-top: 10px;}
#sidebar .wrap-sidebar{margin: 0px 10px ;}

.widget {margin-bottom: 30px;padding: 0 20px;}
.widget ul li { line-height: 2.8;border-bottom: 2px solid #DDD;}
.widget:after, .widget:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.widget .wid-header  {background-color: #fff;padding: 20px;margin-bottom: 15px;border: 1px solid #ddd;}
.widget .wid-header h5 {font-size: 23px;}
.widget .wid-content{padding: 20px;background-color: #fff;border: 1px solid #ddd;}

.post {}
.post:last-child {margin-bottom: 0;}
.post:after, .post:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.post img{float: left; max-width: 140px;display: inline-block;}
.post .zoom-container .zoom-caption i.icon-play{font-size: 13px; max-width: 40px;margin: 18% auto 0;}
.post .wrapper {display: inline-block;text-align: left;}
.post .wrapper span{display: block;margin: 5px 0;}
.post .wrapper span i{margin: 0 5px 0 0;}
.post .wrapper .info h6, .post .wrapper .info a{font-size: 13px;margin: 4px 0;}
.post .vid-name a{font-size: 17px;color: #654E2D;}
.post .info {font-size: 12px;margin-top: 0;}
.post .info i{margin: 5px 3px 0 0;}
.post .vid-item  i.icon-play{position: absolute; top: 15px;text-align: center;width: 40px;margin: 0 auto;left: 40px;font-size: 12px;}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Search--------------------------------- */
/* ---------------------------------------------------------------------------- */
#searchtext input {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #eeeeee;
	color: #5e5e5e;
	display: block;
	font-family: arial, sans-serif;
	font-size: inherit;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	margin: 0;
	height: 40px;
	
}
#form-container{max-width: 360px;text-align: center; margin: 0 auto 20px;background: #0A8CBE;padding:2px;}
#searchtext {
	overflow: hidden;
}

a.search-submit-button {
	background: none repeat scroll 0 0 #fff;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	color: #5e5e5e !important;
	display: block;
	float: right;
	font-family: inherit;
	font-size: 20px;
	padding: 8px 10px;
	text-align: center;
	width: 45px;
	box-sizing: border-box;
	height: 40px;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
.contact {background-color: #fff;border: 1px solid #ddd;}
.contact h2{font-size: 34px; font-weight: 500;letter-spacing: 3px;padding-top: 70px ;text-align: center;}

#contact_form {padding:25px;}

#ff label {cursor:pointer;margin:5px 0;display:block;font-weight:bold;}

#ff input {display:block;width:90%;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; color:#000;	border:1px solid #bbb;padding:10px;margin: 5px 0 25px 0;background-color: #F9F9F9;}

textarea {display:block;width:90%;height:200px; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background-color: #F9F9F9; color:#000;	border:1px solid #bbb;padding:10px;margin: 5px 0 25px 0;}

#ff .sendButton {border: none;cursor:pointer;background-color:#0A8CBE;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;;width:100px;color:#ffffff;}
#ff .sendButton:hover {opacity: 0.8;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------Owl-Slider--------------------------------- */
/* ---------------------------------------------------------------------------- */
#owl-demo-1, #owl-demo-2, #owl-demo-3{margin-bottom: 50px;background: #fff;padding: 20px;border: 1px solid #ddd;}
#owl-demo-1 .item .vid-item {}
#owl-demo-1 .item .vid-item  i.icon-play,
#owl-demo-2 .item .vid-item  i.icon-play,
#owl-demo-3 .item .vid-item  i.icon-play
{position: absolute; top: 40px;text-align: center;width: 43px;margin: 0 auto;left:0;font-size: 15px;}
#owl-demo-1 .item, #owl-demo-2 .item, #owl-demo-3 .item{margin: 3px;}
#owl-demo-1 .item img, #owl-demo-2 .item img, #owl-demo-3 .item img{width: 100%;height: auto;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------Vid-Effect----------------------------------- */
/* ---------------------------------------------------------------------------- */
.wrap-vid{margin-bottom: 20px;}
.vid-item {position: relative;}
.vid-name{margin-top: 5px;}
.vid-name a{font-size: 19px;color: #654E2D;}
.info {margin: 7px 0 10px;font-size: 14px;}
.info i{margin-right: 8px;}
.info span{margin-right: 10px;}
.info h5, .info a{font-size: 13px;line-height: 1;margin-bottom: 9px;}
.info a{color: #006EA0;}
.info a:hover{text-decoration: underline;}
	
.zoom-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 5px 0;
}
.zoom-container img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
	
}
.zoom-container .zoom-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}
.zoom-container .zoom-caption i.icon-play {
	display: block;
	text-align: center;
	font-size: 17px;
	letter-spacing: -1px;
	color: #fff;
	margin: 22% auto 0;
	padding: 10px 0;
	background-color: rgba(17, 17, 17, 0.8);
	max-width: 48px;
	padding: 8px 5px;
	border-radius: 8px;
}
.zoom-container .zoom-caption i.icon-play:hover {
	background-color: rgba(210, 0, 0, 0.9);
}
.zoom-container:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
	background: rgba(0, 0, 0, .5);
}

/* ---------------------------------------------------------------------------- */
/* -----------------------------------Navigation------------------------------- */
/* ---------------------------------------------------------------------------- */
.navigation{text-align: center;margin-top: 20px;}
.navigation ul li{display: inline-block;}
.navigation ul li a{background-color: #fff;border: 1px solid #ddd;padding: 7px 13px;}


