/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header {text-align: center;}
header {background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}
header  ul li{display: inline-block;margin: 15px 20px 0 0;}
header  ul li a{font-size: 20px;color: #fff;}
header ul.quick-link {display: inline-block;}
header ul.quick-link span i {margin-right: 10px;font-size: 18px;}
header ul.social {float: right;}

header .logo img{float: left;display: inline-block;}
header .wrap-header {background-color: #2D323C; padding: 20px 0;color: #fff;}
header .bottom {background: #191B1F;padding: 10px;color: #fff;}
header .bottom a{color: #fff;text-decoration: underline;}

@media all and (max-width: 768px){
	header .logo img{float: none;text-align: center;}
	ul.social {float: none;text-align: center;margin-top: 5px;}
}
.header {background-color: #fff;padding: 15px 20px;margin-bottom: 15px;border: 1px solid #ddd;}
.header h2{font-size: 23px;}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------nav--------------------------------- */
/* ---------------------------------------------------------------------------- */
nav.cmn-tile-nav {
  display: none;
  margin-bottom: 50px;
}
nav.cmn-tile-nav.open {
  display: block;
}
nav.cmn-tile-nav ul {
  list-style: none;
}
nav.cmn-tile-nav li {
  display: block;
  overflow: hidden;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
nav.cmn-tile-nav a {
  display: block;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s;
  -moz-transition: background 0.3s, -moz-transform 0.3s;
  -o-transition: background 0.3s, -o-transform 0.3s;
  transition: background 0.3s, transform 0.3s;
}
nav.cmn-tile-nav a:hover {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}
nav.cmn-tile-nav li.colour-1 {
  background-color: #28aadc;
}
nav.cmn-tile-nav li.colour-1 a {
  background-color: #28aadc;
}
nav.cmn-tile-nav li.colour-1:hover, nav.cmn-tile-nav li.colour-1:hover a {
  background-color: #166888;
}
nav.cmn-tile-nav li.colour-2 {
  background-color: #0a8cbe;
}
nav.cmn-tile-nav li.colour-2 a {
  background-color: #0a8cbe;
}
nav.cmn-tile-nav li.colour-2:hover, nav.cmn-tile-nav li.colour-2:hover a {
  background-color: #05455d;
}
nav.cmn-tile-nav li.colour-3 {
  background-color: #006ea0;
}
nav.cmn-tile-nav li.colour-3 a {
  background-color: #006ea0;
}
nav.cmn-tile-nav li.colour-3:hover, nav.cmn-tile-nav li.colour-3:hover a {
  background-color: #00283a;
}
nav.cmn-tile-nav li.colour-4 {
  background-color: #006478;
}
nav.cmn-tile-nav li.colour-4 a {
  background-color: #006478;
}
nav.cmn-tile-nav li.colour-4:hover, nav.cmn-tile-nav li.colour-4:hover a {
  background-color: #000f12;
}
nav.cmn-tile-nav li.colour-5 {
  background-color: #005a5a;
}
nav.cmn-tile-nav li.colour-5 a {
  background-color: #005a5a;
}
nav.cmn-tile-nav li.colour-5:hover, nav.cmn-tile-nav li.colour-5:hover a {
  background-color: black;
}
nav.cmn-tile-nav li.colour-6 {
  background-color: #007864;
}
nav.cmn-tile-nav li.colour-6 a {
  background-color: #007864;
}
nav.cmn-tile-nav li.colour-6:hover, nav.cmn-tile-nav li.colour-6:hover a {
  background-color: #00120f;
}
nav.cmn-tile-nav li.colour-7 {
  background-color: #0aa06e;
}
nav.cmn-tile-nav li.colour-7 a {
  background-color: #0aa06e;
}
nav.cmn-tile-nav li.colour-7:hover, nav.cmn-tile-nav li.colour-7:hover a {
  background-color: #04402c;
}
nav.cmn-tile-nav li.colour-8 {
  background-color: #0abe8c;
}
nav.cmn-tile-nav li.colour-8 a {
  background-color: #0abe8c;
}
nav.cmn-tile-nav li.colour-8:hover, nav.cmn-tile-nav li.colour-8:hover a {
  background-color: #055d45;
}

/* smoother transitions */
nav.cmn-tile-nav li,
nav.cmn-tile-nav a {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* media queries */
@media all and (min-width: 480px) {
  nav.cmn-tile-nav {
    display: block;
  }
  nav.cmn-tile-nav li {
    width: 50%;
    float: left;
  }
}
@media all and (min-width: 768px) {
  nav.cmn-tile-nav li {
    width: 25%;
  }
  nav.cmn-tile-nav a {
    text-align: center;
    padding: 60px 20px 20px 20px;
  }
  nav.cmn-tile-nav a:hover {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@media all and (min-width: 1024px) {
  nav.cmn-tile-nav li {
    overflow: visible;
    width: 12.5%;
  }
  nav.cmn-tile-nav a {
    padding: 80px 20px 20px 20px;
  }
  nav.cmn-tile-nav a:hover {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
}
/* ============================================================
  NAVIGATION TOGGLE
============================================================ */
a.nav-toggle {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #dce6f0;
  color: #646464;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
}
a.nav-toggle:hover {
  background-color: #c8d2dc;
}

@media all and (min-width: 480px) {
  a.nav-toggle {
    display: none;
  }
}